<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset ="UTF-8">
  <meta name ="viewport" content="width=device-width, initial-scale=1.0">
  <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Galería | trabajo final</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <link rel="stylesheet" href="../css/galeria.css">
  <link rel="icon" type="image/png" href="../assets/images/favicon.png">
</head>

<body>

  <nav>
    <ul>
      <!-- nombre de la pagina incluida en el menu -->
      <li class="marca">CodeWise</li>
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="./galeria.html" class="active">Galería</a></li>
      <li><a href="./presupuesto.html">Presupuesto</a></li>
      <li><a href="./contacto.html">Contacto</a></li>
    </ul>
  </nav>

  <section>
    <h2>Nuestra Galería de Imágenes</h2>


    <div class="galeria-slider">
      <div class="galeria-track" id="imagenes"></div>
    </div>
  </section>




  
  <footer>
    <p>Síguenos en redes:

      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </p>

    <p>Dirección: Calle Ficticia 123, Ciudad Imaginaria</p>
    <p><a href="#">Aviso legal</a></p>
  </footer>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../js/scriptGaleria.js"></script>
</body>

</html>